*{
    margin: 0 0;
} 
.logo{
    width: 6.5vw;
    height: 6.5vw;
    float: left;
    margin-left: 1vh;
    margin-top: 1vh;
    position: absolute;
}
img{
    width: 100%;
    height: 100%;
}
.about_container{
    width: 6.5vw;
    height: auto;
    position: absolute;
    margin-left: 93vw;
    margin-top: 1vh;
}
.about{
    width: auto;
    height: 6.5vw;
    border: solid black 1px;
    box-sizing: border-box;
    margin-bottom: 2vh;
    background-color: brown;
}
.main_container{
    width: 99.85vw;
    height: 99.65vh;
    border: solid black 1px;
    background-color: white;
    overflow: hidden;
}
.masonry{
    overflow: hidden;
}
.curiosity_object{
    width: 15vw;
    height: 15vw;
    position: absolute;
    margin: 32.5vh 42.5vw;
    background-color: black;
    border: solid black 1px;
    border-radius: 50%;
}
.object{
    width: 20vw;
    height: 20vw;
    border: solid black 1px;
    float: left;
}
.object-width-2{
    width: 40vw;
}
.object-height-2{
    height: 40vw;
}
#object1{
    background-color: #000000;
}
#object2{
    background-color: #242424;
}
#object3{
    background-color: #4d4c4c;
}
#object4{
    background-color: #8b8b8b;
}
#object5{
    background-color: #6b4c4c;
}
#object6{
    background-color: #5c2c2c;
}
#object7{
    background-color: #611111;
}

