@font-face {
  font-family: "Compagnon_light";
  src: url("../fonts/Compagnon-Medium.otf");
}

* {
  margin: 0 0;
}

body {
  text-align: center;
  background-color: rgb(14, 14, 14);
}

p,
h1,
h2 {
  color: #8b8b8b;
}

p {
  font-family: 'Compagnon_light';
}

.logo {
  width: 6.5vw;
  height: 6.5vw;
  float: left;
  margin-left: 1vh;
  margin-top: 1vh;
  position: absolute;
}

.about_container {
  width: 6.5vw;
  height: auto;
  position: absolute;
  margin-left: 93vw;
  margin-top: 1vh;
}

.about {
  width: auto;
  height: 6.5vw;
  border: solid black 1px;
  box-sizing: border-box;
  margin-bottom: 2vh;
}

#title {
  margin: 0 auto;
  font-size: 40px;
  font-family: "Compagnon_light";
}

.synopsis {
  width: 25vw;
  height: 35vw;
  position: absolute;
  margin-top: 13vh;
  margin-left: 5vw;
  overflow-y: scroll;
  text-align: center;
}

.object {
  width: 35vw;
  height: 35vw;
  position: absolute;
  margin-left: 32.5vw;
  margin-top: 13vh;
  border: solid black 1px;
  overflow: hidden;
}

.allobject {
  width: 25vw;
  height: 35vw;
  position: absolute;
  margin-left: 70vw;
  margin-top: 13vh;
  overflow-y: scroll;
}

img {
  height: 100%;
}

.gameobject {
  width: 50%;
  height: 12.5vw;
  margin: 0 auto;
  border: solid black 1px;
}

#object1 {
  background-color: #000000;
}

#object2 {
  background-color: #242424;
}

#object3 {
  background-color: #4d4c4c;
}

#object4 {
  background-color: #8b8b8b;
}

#object5 {
  background-color: #6b4c4c;
}

#object6 {
  background-color: #5c2c2c;
}

#object7 {
  background-color: #611111;
}